<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ElasticSearchHost" value="http://localhost:9200" />
		<add key="ElasticSearchUser" value="elastic_user" />
		<add key="ElasticSearchPassword" value="elastic_password" />
		<add key="ELKGameIndex" value="game_log" />
		<add key="ELKRequestResponseIndex" value="req_res_index" />
	</appSettings>
</configuration>